
@{
    ViewData["Title"] = "iapoke";
}

<h2>IA de Bataille Pokémon</h2>

<section>
    <p>Le but de ce projet était d'automatiser un combat entre deux dresseurs de Pokémon.</p>
    <p>Chaque dresseur commençait avec une équipe de Pokémons, possédant des attaques avec chacunes des attributs. La liste des pokémons, des attaques et des statistiques
    sont récupérés et parsés à partir de fichiers CSV. Ensuite, une fonction d'évaluation vient rendre compte de l'état de la partie. Cette fonction d'évaluation sert à
    l'algorithme Minmax pour choisir quelle attaque faire chaque tour.</p>
    <p>L'application récupère les choix sur le serveur et applique les différentes attaques utilisées et boucle jusqu'à la défaite d'un des deux participants.</p>
</section>

<section><h3 class="project-name"><i class="fab fa-github"></i><a href="http://https://github.com/Aranaevens/iapoke">  Application entière sur GitHub  </a><i class="fab fa-github"></i></h3></section>

<script src="https://gist.github.com/Aranaevens/3c9e83e52e2ca5e6c72ee9fc94f2adf6.js"></script>