
@{
    ViewData["Title"] = "Others";
}

<h2>Autres projets entrepris</h2>

<p>
    Que ce soit parce que je ne possède plus le code source de certains projets ou par choix de pertinence, je n'ai fait des Views pour chaque projet que j'ai fait, en voici une liste non exhaustive d'autres applications notables sur lesquelles j'ai travaillé.
</p>

<h3>C</h3>
<h4 class="ot-h">Lecteur ISO</h4>
<p class="ot-p">Un binaire permettant de naviguer dans le contenu d'un fichier ISO passé en paramètre. Un prompt apparaissait pour entrer diverses commandes comme CD pour se déplacer dans les directories (en prenant '.' et '..' comme possibilités, CAT pour afficher le contenu d'un sous fichier, LS pour afficher une liste des fichiers et répertoires présents à un endroit précis...</p>
<h4 class="ot-h">Parseur de Shell</h4>
<p class="ot-p">Pour le début d'un projet de Terminal (type Bash) j'ai implémenté une grande partie d'un parseur de langage Shell.</p>

<h3>C++</h3>
<p class="ot-p">Je m'étais également penché sur le projet frère de l'IA pokémon qui consistait à implémenter un algorithme de Pathfinding pour aller d'un point A à un point B en ayant des cases possédant divers attributs. Par exemple une case avec de l'eau ou une case forêt "coûtait" plus de points de mouvement qu'une case plaine.</p>

<h3><i class="fab fa-java"></i> JAVA</h3>
<p class="ot-p">Implémentation des classes nécessaires à une bataille navale en ligne. En particulier écrire les classes des différents bateaux, de la grille, des méthodes nécessaires à indiquer qu'un bateau est coulé et le transmettre au serveur 
    avec un .json.</p>

<h3>Ruby/Rails</h3>
<p class="ot-p">Simple initiation au langage à travers un tutorial sur le net. Il m'a appris néanmoins la notion de MVC, réutilisée notamment dans le projet du site web CV.</p>

<h3><i class="fab fa-windows"></i> ASP.NET/C#</h3>
<p class="ot-p">Ce site est un projet en ASP.NET / C# sur la base du template de Visual Studio Community. La partie Formations du CV a été conçue à la base grâce à une base de données, bien que peu utile dans ce cas précis, ça m'a permis de voir les appels de BDD sur une page Razor. Cependant pour une facilité d'hébergement j'ai repassé le code en statique.</p>