
@{
    ViewData["Title"] = "Tetra";
}

<h2>N-solver de Tetravex</h2>

<section>
    <p>Un tétravex est un ensemble de tuiles qui portent chacune un nombre sur chacuns de leurs côtés. Ce sont par exemple des dominos à 4 faces.</p>
    <p>
        Le N problème est de savoir, avec un ensemble de tuiles, si il existe une ou plusieurs solutions pour que chaque faces voisines aient le même nombre, et évidemment de savoir
        quelles sont ces solutions. Cette application cherche ces solutions à l'aide d'un algorithme appelé Breadth-first Search (BFS), qui va exploré des arbres de solutions pour résoudre
        le problème. Dès qu'une solution est trouvée elle est gardée.
    </p>
</section>

<section><h3 class="project-name"><i class="fab fa-github"></i><a href="https://github.com/Aranaevens/tetra-solver">  Application entière sur GitHub  </a><i class="fab fa-github"></i></h3></section>

<script src="https://gist.github.com/Aranaevens/2a85efd792058cf35bcc72feeaec2999.js"></script>
