@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Nicolas EISENBERG<br />
    42 rue Gounod<br />
    67400 ILLKIRCH<br />
    <abbr title="(+33)">Tel: 07.60.36.98.65</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:eisenberg.nicolas@gmail.com">eisenberg.nicolas@gmail.com</a>
</address>
