@{
    ViewData["Title"] = "Accueil";
}

<h2>Bienvenue sur mon site CV</h2>

<article class="p-accueil">
    <h3>A propos du site</h3>
    <p>Ayant débuté mi-mai 2019 une formation professionnelle de Développement Web qui nécessite un stage, j'ai décidé fin-Mai de développer ce site. D'une part pour avoir un projet concret en ASP.NET que j'apprécie beaucoup. D'autre part car il me semble qu'un site est la meilleure vitrine possible pour un développeur web qui cherche un stage ; d'autant plus que décrire des projets dans un CV est bien, pouvoir en voir la substance est mieux.</p>
</article>

<h3 class="h-accueil">Recherche</h3>
<section class="recherche">Je suis actuellement à la recherche d'un stage en Développement Web</section>
<article class="p-accueil">
    <p>Ce stage a pour but de réaliser un livrable ou une partie d'un livrable dans le domaine du Web, de préférence en back-end, afin de passer l'examen du titre professionnel RNCP de niveau III (Bac +2) « Développeur Web/Web Mobile »</p>
    Le détail du REAC (Référentiel Emploi Activités Compétences) est disponible <a class="reac-link" target="_blank" href="https://www.banque.di.afpa.fr/EspaceEmployeursCandidatsActeurs/EGPResultat.aspx?ct=01280m03&type=t">à cette adresse</a>. Il contient notamment la grille de compétence suivante :
</article>
    
<img class="img-reac" src="~/images/reac.jpg" alt="grille compétences" />

<article class="p-accueil">
    <p>A l'issue de ce stage je souhaiterais prolonger mon expérience par un contrat de professionnalisation pour un titre de niveau II (Bac +4).
</article>