@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p> Le site n'utilise pas de cookies ajoutés manuellement. Cependant, la partie
    privacy étant incluse dans le template d'une Web App MVC dans Visual 
    Studio, j'ai gardé la page intacte, me permettant de voir le code 
    nécessaire pour ce nouvel impératif des sites web. </p>
