/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #1f2021; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1f2021 0%, #aa2920 50%, #442420 71%, #1a1b1c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1f2021 0%,#aa2920 50%,#442420 71%,#1a1b1c 100%);
    background: linear-gradient(45deg, #1f2021 0%,#aa2920 50%,#442420 71%,#1a1b1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2021', endColorstr='#1a1b1c',GradientType=1 );
    min-height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1020px;
    background-color: #525659;
    color: white;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1020px;
    background-color: #525659;
    color: white;
}

.navbar-brand {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
}

.body-content a {
    color: #4ca6ca;
}

.navbar {
    background-color: #1b1d22;
}

.accordion {
    background-color: #2a343d;
    color: inherit;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 0.5em;
}

    .active-accordion, .accordion:hover {
        background-color: #3e4953;
    }

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active-accordion:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.panel {
    padding: 0 18px;
    background-color: initial;
    display: none;
    overflow: hidden;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.cv-langages-h {
    margin-left: 1.5em;
}

.cv-langages-ul {
    margin-left: 1.5em;
}

.cv-p {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.ot-h {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ot-p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.project-name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.project-name>a{
    text-decoration: none;
}

#pdf {
    color: red;
    font-size: 2em;
}

#p-pdf {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

/*.pdf {
    margin-left: auto;
    margin-right: auto;
    height: 2em;
}*/

.cv-img {
    background:url(/images/mypic.jpg) no-repeat center;
    background-size: contain;
    display: block;
    height: 17em;
    width: 12em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.blackme{
    color: black;
}

.recherche{
    background-color: rgba(220, 113, 113, 0.61);
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7em;
    width: 70%;
    text-align: center;
}

.reac-link:hover{
    text-decoration: none;
}

.p-accueil{
    padding: 1rem;
}

.h-accueil{
    padding-left: 1rem;
}

.img-reac{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.tbl-striped tr:nth-child(even) {
    background-color: #3e4449;
}

.tbl-hover tr:hover {
    background-color: rgba(106, 111, 115, 0.80);
}

table thead {
    background-color: #2a343d;
}

#cv-p-margin-top{
    margin-top: 1em;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        font-size: 8px;
    }
}
